${demo.css}
.dash{
	margin-left: 6px; margin-top: 2px; float:left;position: relative;
}
#Dashboard{
	margin: 0 auto;width:100%;float:right;
}
#Menu{
  width: 19%;
  float: left;
  border: 1px solid #000;
  height: auto;
  overflow: hidden;
}

.filtros{
  width: 11% !important;
  float:left;
  margin: 4px;
}

.filtros.form-control{
  background-color: #26609E !important;
  border: 1px solid #26609E !important;
}

#filtros select option{
  color: #000 !important;
  background-color: #fff !important;
}

/* tablas */
table, td, th{
  vertical-align: middle;
}
table.simple {
	border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    margin: 0 auto;
}

.block{
	display: block;
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}

table.simple thead td {
  font-weight: bold;
  font-size: 0.8em;
}


table.simple thead th {
    font-weight: bold;
    font-size: 0.8em;
}

table.simple td {
    padding: 2px 5px;
    font-size: 0.8em;
}

table.simple th {
    padding: 2px 5px;
}

table.simple { clear: left; } 
table tbody tr.noHover:hover, table tfoot tr.noHover:hover {
  background: none repeat scroll 0 0 transparent !important;
}
table.simple > thead {
  color:#FFF;
}
table.simple > thead{
  background-color: #4070FF !important;
}


table.simple tbody tr:hover, table.simple tbody tr.zebra:hover{
   background-color:rgba(64, 112, 255, 0.49) !important;
   color:#FFF;
}
/*background-color*/
table.simple tbody tr:hover a  {
   color:#FFF;
}
/***TABLAS**/

table.simple tbody tr, table.simple tfoot tr {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
}

table.simple tbody tr:nth-child(even){
    background-color: rgba(64, 112, 255, 0.32);
}

.btn.graficas {
  background: #3498db none repeat scroll 0 0;
  color: #ffffff;
  right:0px;
  position: absolute;
  text-decoration: none;
  top: 0px;
  z-index: 1;
  padding: 4px 12px;
}

.btn:hover {
  background: #3cb0fd;
  color : #fff !important;
}

.globos{
  background: #26609E;
  border: 1px solid #26609E;
  border-radius: 4px;
  color: #fff;
  cursor: default;
  margin: 0px 0px 2px 5px;
  padding: 3px 5px 3px 5px;
  font-size: 1.3em;
}

.divFiltro{
  margin-top:10px !important;margin-bottom: 10px !important;float:left;
}

#filtrosSeleccionados {
    width: 100%;
}

.uiCloseButton{
  color:#fff;
  cursor:pointer;
}

@media (max-width: 1024px){
  .filtros{
    width: 23% !important;
  }
}

@media (max-width: 847px){
  .dash{
    width: 97% !important;
  }
}

@media (max-width: 875px){
  .filtros{
    width: 32% !important;
  }
}

@media (max-width: 816px){
  .filtros{
    width: 48% !important;
  }
}

@media (max-width: 616px){
  .filtros{
    width: 98% !important;
  }
}

@media (min-width:320px) {
      .page-content{
    margin-top: 20px !important;
  }

}
@media (min-width:400px) {
    .page-content{
    margin-top: 20px !important;
  }

}
@media (min-width:768px) {
  .page-content{
  margin-top: 20px !important;
}

@media (min-width:992px) {
    .page-content{
    margin-top: 20px !important;
}

.load-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  z-index: 1000;
}

.warning{
  border:solid 1px #DEDEDE;
  background:#FCF9CE;
  color:#222222;
  padding:4px;
  text-align:center;
  margin: auto;
}

.bootstrap-switch{
  float: left !important;
  margin-top: 3px !important;
}

.loader {
    font-size: 10px;
    margin: 300px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.0s infinite linear;
    animation: load4 1.0s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}