
.img-bg{
	background: url(../../Content/img/bg_login.jpg) no-repeat center center;
}
.bg_login{background-color: #062445 !important;}

.img-bg, .bg_login{
	width: 100%;
	height: 100%;
	position: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-center{
	width: 380px;
	margin: 8% auto;
	padding: 0;
	color:#999999;
	text-align: center;
}
.login-center header h1, .login-center header h4, a#remember, .fa-user, .fa-lock, .login-input, #advice-recovery {
	color:#fff !important;
}
::-webkit-input-placeholder{color:#fff !important; font-weight: 700;} :-moz-placeholder{color:#fff !important; font-weight: 700;} ::-moz-placeholder{color:#fff !important; font-weight: 700;} :-ms-input-placeholder{color:#fff !important; font-weight: 700;}



.login-center header h1 {
	margin: 50px 0 65px 0;
}

.login-center h1{
	font-size: 2.25em;

}

.login-center #logo{
	width: 180px;
	height: auto;
	margin: 50px auto 0 auto;
}

.login-center #user-img{
	width: 138px;
	height: 138px;
	margin: 20px auto 40px auto;
}

#content-input{
	width: 285px;
	margin: 0 auto
}

.login-center .input-group, .login-center .btn{
	margin: 5px 0;
}

.login-center .btn{
	color:#b2dcf8;
}

.login-center .btn-default{
	width: 100% !important;
	background-color: #26609e !important;
	border-color: transparent !important;
}

#btn-login{
	margin: 10% 0  2% 0!important;
}
a#remember{
	margin-left: -100px;
	text-decoration: none;
}

.input-group-addon, .login-input{
	background-color: transparent !important;
	border-top: transparent !important;
	border-right: transparent !important;
	border-radius: 0 !important;
}
.login-input{
	font-weight: 700;
	border-right: transparent !important;
	border-left: transparent !important;

}


/*///////////////////////////////////////
/////////////// recovery ////////////////
//////////////////////////////////////*/
.nav-gris{
	width: 100%;
	height: 80px;
	
	border-bottom: 1px solid #ccc;
 	background-color: #eee;
}
.nav-gris #logo{
	width: auto;
	height: 80px;

}

.instructions{
	margin-top:50px;
}

.instructions h4{
	font-weight: 200 !important;
}
#advice-recovery{
	margin-top: 20px;

}



footer{
	width: 100%;
	height: 39px;
	padding:10px;
	color: #999;
	border-top: 1px solid #ccc;
	background-color: #eee;
	bottom: 0;
	position: absolute;
}

footer #companie{
	text-align: right;
}